.embla-single {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  .embla__viewport-single {
    overflow: hidden;
    width: 100%;
  }
  
  .embla__viewport-single.is-draggable {
    cursor: move;
    cursor: grab;
  }
  
  .embla__viewport-single.is-dragging {
    cursor: grabbing;
  }
  
  .embla__container-single {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;

    margin-left: -10px;
  }
  
  .embla__slide-single {
    flex:0 0 50px;
    padding-left: 10px;
    min-width: 100%;
    position: relative;
  }
  
  .embla__slide__inner-single {
    position: relative;
    overflow: hidden;
    height: 600px;
  }
  
  .embla__slide__img-single {
    position: absolute;
    display: block;
    top: 50% !important;
    left: 50% !important;
    width: 100% !important;
    height: 100% !important;
    min-width: 7% !important; 
    inset: 50% 50% -50%  !important;
    max-width: none !important;
    transform: translate(-50%, -50%) !important;
  }

  