.embla {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  .embla__viewport {
    overflow: hidden;
    width: 100%;
  }
  
  .embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
  }
  
  .embla__viewport.is-dragging {
    cursor: grabbing;
  }
  
  .embla__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;

    margin-left: -10px;
  }
  
  .embla__slide {
    flex:0 0 50px;
    padding-left: 10px;
    min-width: 100%;
    position: relative;
  }
  
  .embla__slide__inner {
    position: relative;
    overflow: hidden;
    height: 600px;
  }
  
  .embla__slide__img {
    position: absolute;
    display: block;
    top: 50% !important;
    left: 50% !important;
    width: 100% !important;
    height: 100% !important;
    min-width: 7% !important; 
    inset: 50% 50% -50%  !important;
    max-width: none !important;
    transform: translate(-50%, -50%) !important;
  }
  
  .embla--thumb {
    padding-top: 0;
    margin-top: -12px;
  }
  
  .embla__container--thumb {
    cursor: default;
    margin-left: -8px;
  }
  
  .embla__slide--thumb {
    padding-left: 8px;
    min-width: 20%;
  }
  
  .embla__slide__inner--thumb {
    touch-action: manipulation;
    cursor: pointer;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
    background-color: transparent;
    position: relative;
    display: block;
    overflow: hidden;
  }
  
  .embla__slide__thumbnail {
    position: absolute;
    opacity: 0.4;
    top: 0 !important;
    bottom: 0 !important;
    left: -10000% !important;
    right: -10000% !important;
    margin: auto;
    min-width: 600% !important;
    height: 800% !important;
    max-height: none !important;
    max-width: none  !important;
    transform: scale(0.1) !important;
    transition: opacity 0.2s !important;
  }
  @media(max-width: 500px){
   
    
    .embla__slide__img{
      width: 300px;
    }
    .embla--thumb{
      display: none;
    }
  
  }
  .embla__slide--thumb.is-selected .embla__slide__thumbnail {
    opacity: 1;
  }
  